<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01373377/blob/main/Module%201-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 1

In [2]:
#Imprimir Hola mundo
print("Hello World this is my first code")

Hello World this is my first code

In [3]:
#Imprimir Hola Mundo en dos renglones diferentes
print("Hello\nWorld")

Hello
World

In [4]:
#Encontrar el tipo de la informacion ya sea string, número entero,float, booleano etc
#"Hello World"
type ("Hello World")

str

In [7]:
#Encontrar el tipo de la informacion
#15.3"
type (15.3)

float

In [10]:
#Convertir el valor primero a entero int a booleano bool
#"2"
bool(int("2"))

True

In [12]:
#Imprimir una salida
print('Hello, my friends!')

Hello, my friends!

In [13]:
#Revisar nuestra version de python
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [15]:
#Escribir comentarios
print('Hello, Python!') #Esta linea imprime una cadena

Hello, Python!

In [16]:
#Escribir un codigo erroneo
print("Hello, Python!) 
#porque debemos cerrar el comentario con el ""

SyntaxError: ignored

In [17]:
#Escribir tres cadenas, una con error, para ver el orden
print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

In [18]:
#Encontrar los tipos de informaci[on
type(12)
type(2.14)
type("Hello, Python 101!")
type(-1)
type(4)
type(0)
type(1.0)
type(0.5)
type(0.56)
type(False)
type(True)
type (6/2)
type(6//2)

int

In [19]:
#Conocer la informacion del sistema sobre el tipo flotante
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [20]:
#Convertir los valores y ver a que tipo cambiaron
float(2)
type(float(2))
int(1.1)
type(int(1.1))
int('1')
float('1.2')
str(1)
str(1.2)
int(True)
bool(1)
bool(0)
float(True)

1.0

In [21]:
#Convertir un valor con error
int('1 or 2 people')

ValueError: ignored

In [22]:
#Calculos
#Cuantas horas tiene un minuto
160/60

2.6666666666666665

In [23]:
#Guardar valor en variables e imprimirlos
x = 43 + 60 + 16 + 41
x
y = x / 60
y
total_min = 43 + 42 + 57 
total_min
total_hours = total_min / 60 
total_hours
x = 3 + 2 * 2
y = (3 + 2) * 2
z = x + y
z

17

In [ ]:
#Crear diferentes strings de diversas formas
'Michael Jackson'
"Michael Jackson"
'@#2_#]&*^%$'
"1 2 3 4 5"

In [ ]:
#Imprimir cadenas
print('Hola Mundo')
name = "Michael Jackson"
name

In [ ]:
#Imprimir elementos con indices en diferentes posiciones
name="Rafael Oliveiros"
print(name[0])
print(name[6])
print(name[8])

In [ ]:
#Imprimir elementos en posiciones invertidas
name="Rafael Oliveiros"
print(name[-2])
print(name[-9])
print(name[-1])

In [ ]:
#Obtener la longitud de una cadena
len("Michael Jackson")

In [ ]:
#Obtener elementos d euna cadena en diferentes posiciones, slice
name='Pedrito Sola'
name[0:4]
name[3:8]

In [ ]:
#Obtener elementos de una cadena dando determinados saltos
name="Thor Odinson"
name[::2]

In [ ]:
#Obtener elementos de una cadena dando determinados saltos, pero dentro de un rango seleccionado
name='Septiembre patrio'
name[0:5:2]

In [ ]:
#Concatenar dos o mas cadenas e imprimirlas
nombre='Carlos'
frase=nombre + 'es el mejors'
frase

In [ ]:
#multiplicar una cadena
5 * 'frase repetida '

In [ ]:
#Usar 3 secuencias de escape
print(" Michael Jackson \n is the best" )
print(" Michael Jackson \t is the best" )
print(" Michael Jackson \\ is the best" )
print(r" Michael Jackson \ is the best" )

In [ ]:
#USar operadores de cadenas
a = "Hola mundo"
print("en minuscula es:", a)
b = a.upper()
print("en mayuscula es", b)
g='carlos'
g.upper()

a = "OScar is the best"
b = a.replace('OScar', 'Carlos')
b
g.replace('ar','al')

name = "Michael Jackson"
name.find('el')
g.find('al')

In [ ]:
#Ver que ocurre cuando no encuentra 
name.find('Jasdfasdasdf')

In [ ]:
#imrprimir diagonal invertida
print("\\\\\\")
print(r"\ ")

# Módulo 2

In [ ]:
#Crear un tuple e imprimirlo
Tuple=("Carlos",2.3,5,8)
Tuple

In [ ]:
#Obtener los primero dos elementos del tuple
Tuple[0:2]

In [ ]:
#Crear una lista e imprimirla
Lista=["Daniel",3,56,35,"Federico"]
Lista

In [ ]:
#Obtener los primeros dos elementos de la lista
Lista[0:2]

In [ ]:
#Cambiar un valor de la lista
Lista[3]=36
Lista

In [25]:
#Crear un diccionario y encontrar un valor
Diccionario={'indice1':10, 'indice2':'Perro'}
Diccionario['indice2']

'Perro'

In [ ]:
#Crear un diccionario de datos y acceder a sus valores de 2 formas diferentes
Diccionario = {"llave1": 156, "key2": "2", "key3": ['oso', 'lobo', 'camion'], "key4": (4, 4, 4), ('key5'): 5, (0, 'Carlos'): 6}
Diccionario
Diccionario['llave1']
Diccionario[(0,'Carlos')]

In [ ]:
#Obtener los valores y las llaves de un diccionario
Diccionario.keys()
Diccionario.values()

In [ ]:
#Anadirvalores del diccionario
Diccionario['Pinata'] = 2021
Diccionario['Pinata']

In [ ]:
#Buscar un valor en el diccionario
'Pinata' in Diccionario

In [ ]:
#Eliminar valores del diccionario
del(Diccionario['Pinata'])
'Pinata' in Diccionario