<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01373377/blob/main/Module%201-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Este link contiene un cuaderno en pdf donde he hecho notas sobre la programación en Python, las notas relevantes están desde la página 36 a la 65


[link text](https://drive.google.com/file/d/1t-fGTZZzmt5B7P_E0tE47PpHTFYCsoHZ/view?usp=sharing)

# Módulo 1

## Los objetivos de este Módulo 1 son:


*   Entender los tipos de Data en Python
*   Conocer los tipos de variables y expresiones de Python
*   Ser capaz de hacer operaciones básicas a strings

Los tipos de errores que podemos tener en Python son se Syntaxis o de Semantica


*   Error de Syntaxis es cuando la redacción es incorrecta
*   Error de Semántica es cuando la lógica del código es incorrecta

In [ ]:
#Imprimir Hola mundo
print("Hello World this is my first code")

Hello World this is my first code

Para poder imprimir un código en renglones diferentes se utiliza la expresión "\n" o también podemos póner """ """ las triples comillas dobles nos respetan los espacios

In [ ]:
#Imprimir Hola Mundo en dos renglones diferentes
print("Hello\nWorld")

Hello
World

In [1]:
#Imprimir con espacios por medio de las triples comillas dobles
print("""Hola
mundo
soy Fer""")

Hola
mundo
soy Fer

## Tipos de datos


*   Float    float() número con decimales, es decir los números reales
*   Integer  int()   números enteros
*   String   str()   Texto
*   Booleano bool()  Verdadero y Falso


Para saber el tipo de variable usamos la expresion"type"

In [ ]:
#Encontrar el tipo de la informacion ya sea string, número entero,float, booleano etc
#"Hello World"
type ("Hello World")

str

In [ ]:
#Encontrar el tipo de la informacion
#15.3"
type (15.3)

float

In [ ]:
#Convertir el valor primero a entero int a booleano bool
#"2"
bool(int("2"))

True

In [ ]:
#Imprimir una salida
print('Hello, my friends!')

Hello, my friends!

In [ ]:
#Revisar nuestra version de python
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
#Escribir comentarios
print('Hello, Python!') #Esta linea imprime una cadena

Hello, Python!

In [ ]:
#Escribir un codigo erroneo
print("Hello, Python!) 
#porque debemos cerrar el comentario con el ""

SyntaxError: ignored

In [ ]:
#Escribir tres cadenas, una con error, para ver el orden
print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

## Ejemplos de tipos de datos

In [ ]:
#Encontrar los tipos de informaci[on
type(12)
type(2.14)
type("Hello, Python 101!")
type(-1)
type(4)
type(0)
type(1.0)
type(0.5)
type(0.56)
type(False)
type(True)
type (6/2)
type(6//2)

int

In [ ]:
#Conocer la informacion del sistema sobre el tipo flotante
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
#Convertir los valores y ver a que tipo cambiaron
float(2)
type(float(2))
int(1.1)
type(int(1.1))
int('1')
float('1.2')
str(1)
str(1.2)
int(True)
bool(1)
bool(0)
float(True)

1.0

## Ejemplo de error de Semántica porque se intenta convertir un string a un número entero

In [1]:
#Convertir un valor con error
int('1 or 2 people')

ValueError: ignored

## Cálculos simples, es decir expresiones matemáticas

In [ ]:
#Calculos
#Cuantas horas tiene un minuto
160/60

2.6666666666666665

In [ ]:
#Guardar valor en variables e imprimirlos
x = 43 + 60 + 16 + 41
x
y = x / 60
y
total_min = 43 + 42 + 57 
total_min
total_hours = total_min / 60 
total_hours
x = 3 + 2 * 2
y = (3 + 2) * 2
z = x + y
z

17

## Ejemplos de Strings

In [2]:
#Crear diferentes strings de diversas formas
'Michael Jackson'
"Michael Jackson"
'@#2_#]&*^%$'
"1 2 3 4 5"

'1 2 3 4 5'

In [3]:
#Imprimir cadenas
print('Hola Mundo')
name = "Michael Jackson"
name

Hola Mundo

'Michael Jackson'

## En un string se denomina como índices a las posiciones de las letras, siempre se empieza por 0 como posición inicial

In [ ]:
#Imprimir elementos con indices en diferentes posiciones
name="Rafael Oliveiros"
print(name[0])
print(name[6])
print(name[8])

In [ ]:
#Imprimir elementos en posiciones invertidas
name="Rafael Oliveiros"
print(name[-2])
print(name[-9])
print(name[-1])

## Obtener la longitud de un string se hace con la expresión "len"

In [ ]:
#Obtener la longitud de una cadena
len("Michael Jackson")

## Un slice es partir en secciones las posiciones de un string que queremos que nos devuelva Python

In [ ]:
#Obtener elementos de una cadena en diferentes posiciones, slice
name='Pedrito Sola'
name[0:4]
name[3:8]

In [7]:
#Obtener elementos de una cadena dando determinados saltos, de inicio a fin
name="Thor Odinson"
name[::2]

'To dno'

In [ ]:
#Obtener elementos de una cadena dando determinados saltos, pero dentro de un rango seleccionado
name='Septiembre patrio'
name[0:5:2]

## Para añadir algo nuevo a la cadena de caracteres se puede redefinir a esta misma anexándole un nuevo string

In [ ]:
#Concatenar dos o mas cadenas e imprimirlas
nombre='Carlos'
frase=nombre + 'es el mejors'
frase

In [ ]:
#multiplicar una cadena
5 * 'frase repetida '

## La "\" es un escape que nos sirve para poder poner stings que son difíciles
###       Algunos ejemplos son:
*   \n que representa un "enter"
*   \t representa un "tab"
*   \\ se una para que imprima el símbol \
*   r"" enfrente del string nos sirve para imprimir el \

In [8]:
#Usar 3 secuencias de escape
print(" Michael Jackson \n is the best" )
print(" Michael Jackson \t is the best" )
print(" Michael Jackson \\ is the best" )
print(r" Michael Jackson \ is the best" )

 Michael Jackson
 is the best
 Michael Jackson 	 is the best
 Michael Jackson \ is the best
 Michael Jackson \ is the best

## Operadores de cadenas

In [9]:
#Usar operadores de cadenas
a = "Hola mundo"
print("en minuscula es:", a)
b = a.upper()
print("en mayuscula es", b)
g='carlos'
g.upper()

a = "OScar is the best"
b = a.replace('OScar', 'Carlos')
b
g.replace('ar','al')

name = "Michael Jackson"
name.find('el')
g.find('al')

en minuscula es: Hola mundo
en mayuscula es HOLA MUNDO

-1

In [10]:
#Ver que ocurre cuando no encuentra 
name.find('Jasdfasdasdf')

-1

In [11]:
#imrprimir diagonal invertida
print("\\\\\\")
print(r"\ ")

\\\
\

## Examen

### Ejercicio 1: What is the result of the following operation in Python:

3 + 2 * 2

In [12]:
3 + 2 * 2

7

### Ejercicio 2: In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?

In [19]:
name = 'Lizz'
print(name[0:2])

Li

### Ejercicio 3: n Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [20]:
var = '01234567'
print(var[::2])

0246

### Ejercicio 4: In Python, what is the result of the following operation '1'+'2'?

In [21]:
'1'+'2'

'12'

### Pregunta 5: Given myvar = 'hello', how would you convert myvar into uppercase?

In [23]:
myvar = 'hello'
myvar
myvar.upper()

'HELLO'

# Módulo 2

## Los objetivos de este Módulo 2 son:


*   Listas y Tuplas
*   Sets
*   Diccionarios

### Las tuplas se diferencían por ser compuestas en "()" y los elementos dentro se separan por "," , Una tupla puede contenter cualquier tipo de dato, las tuplas no se pueden modificar.

### Las tuplas pueden contener otras tuplas a esto se le conoce como "Anidar"

In [24]:
#Crear un tuple e imprimirlo
Tuple=("Carlos",2.3,5,8)
Tuple

('Carlos', 2.3, 5, 8)

In [ ]:
#Obtener los primero dos elementos del tuple
Tuple[0:2]

### Las listas por ser compuestas en "[]" y los elementos dentro se separan por "," , Una tupla puede contener cualquier tipo de dato, las listas sí se pueden modificar.

In [ ]:
#Crear una lista e imprimirla
Lista=["Daniel",3,56,35,"Federico"]
Lista

In [ ]:
#Obtener los primeros dos elementos de la lista
Lista[0:2]

In [ ]:
#Cambiar un valor de la lista
Lista[3]=36
Lista

In [ ]:
#Crear un tuple e imprimirlo
Tuple_ejemplo=("cesar",1.5,5,46,98,"ramon")
Tuple_ejemplo

In [ ]:
#Imprimir el tipo de tuple
type(Tuple_ejemplo)

In [ ]:
#Imprimir cada valor del tuple
Tuple_ejemplo[0]
Tuple_ejemplo[1]
Tuple_ejemplo[2]
Tuple_ejemplo[3]
Tuple_ejemplo[4]
Tuple_ejemplo[5]

In [ ]:
#Imprimir el tipo de cada valor del tuple
type(Tuple_ejemplo[0])
type(Tuple_ejemplo[1])
type(Tuple_ejemplo[2])
type(Tuple_ejemplo[3])
type(Tuple_ejemplo[4])
type(Tuple_ejemplo[5])

In [ ]:
#Usar la indexación negativa
Tuple_ejemplo[-1]

In [ ]:
#Concatenar dos tuples
Tuple1 = (1,2,3,4,5,6)
Tuple2 = ("Victoria","Francisca","Namora")
Tuple3 = Tuple1 + Tuple2 + ("Etcetera",1)
Tuple3

In [ ]:
#Utilizar slice y medir la longitud del tuple
Tuple3[2:4]
len(Tuple3)

In [ ]:
#Ordenar un tuple
Tuple4=(65,54,87,4,5,1,2,3,654,98)
Tuple5=sorted(Tuple4)
Tuple5

In [ ]:
#Hacer tuple anidada e imprimir elementos
Tuple6=(1,2,3,("Cuatro","Cinco"),6,7,("Ocho","Nueve",(10,11)))
print("El primer elemento del tuple es:", Tuple6[0])
print("El primer elemento del tuple anidado es:", Tuple6[3][1])
print("El primer elemento del tuple de segundo anidado es:", Tuple6[6][2][0])

In [ ]:
#Encontrar la posicion o el indice de un elemento
Tuple6.index(7)

In [ ]:
#Convertir una lista en un set
Lista=['a','b','c']
Mi_set=set(Lista)
Mi_set

In [ ]:
#Añadir un elemento a un set
Set1={'A','B','C'}
Set1.add('Casa')
Set1

In [ ]:
#Hacer una intersección entre dos sets
Set2={'A','B','C','z','g','f'}
Set1&Set2
Set1.intersection(Set2)

In [ ]:
#Crear una lista e imprimirla
Lista=["Camion",1,2,3,"Vaca"]
Lista

In [ ]:
#Imprimir con índices positivos y negativos
print("EL primer elemento es",Lista[0])
print("Primer elemento con indice inverso es",Lista[-5])

In [ ]:
#Rebanar una lista
Lista2=["Perro",23,56,("Casa","Oscar"),89,91,["zapatos",3]]
Lista2[1:4]

In [ ]:
#Extender una lista de dos formas diferentes
Lista2.extend([4,29])
Lista2
Lista2.append([35,295])
Lista2

In [ ]:
#Modificar y eliminar elementos de una lista
Lista2[0]='Gato'
print ("La lista vieja",Lista2)
del(Lista2[1])
print("La lista nueva",Lista2)

In [ ]:
#Dividir cadena de dos formas diferentes
"Hola buenos días".split()

In [ ]:
"Hola buenos, dias, que tal".split(",")

In [ ]:
#Copiar una lista con aliasing
Lista3 = Lista2
Lista3

In [ ]:
#Clonar una lista, es decir sin aliasing
Lista4=Lista3[:]
Lista4

In [ ]:
#Concatenar listas
Lista5=Lista3+Lista2
Lista5

### Los sets igual puedem recibir distintos tipos de datos, pero al contrario de las listas y tuplas, estos elementos están desordenados es decir que los sets tienen elementos únicos es decir que no puede haber elementos duplicados, y para definir un set se utilizan "{}" y se separan por "," si hay elementos duplicados, al crearse el set sólo se pondrá una vez.

In [ ]:
#Crear un set e imprimirlo
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

In [ ]:
#Convertir una lista en un set y añadir elementos
Set_de_musica=set(['pop','cumbia','salsa'])
Set_de_musica.add('nerengue')
Set_de_musica

In [ ]:
#Buscar un elemento y eliminarlos
'nerengue' in Set_de_musica
Set_de_musica.remove('nerengue')
Set_de_musica

In [ ]:
#Unir dos sets y buscar la intersección
Set2={'pop','bumbia','regue','ska'}
Set_de_musica,set2
interseccion=Set_de_musica&set2
interseccion

In [ ]:
#Buscar los elementos que están solo en un set usando difference
Set_de_musica.difference(Set2)

In [ ]:
#Unir dos sets
Set_de_musica.union(Set2)

In [ ]:
#Usar issubset y issuperset
set(Set_de_musica).issuperset(Set2)
set(Set2).issubset(Set_de_musica)

In [ ]:
#sumar elementos de un set y compararlos
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

### Los diccionarios tienen llaves y valores, para crear un diccionario usamos "{}" las llaves son únicas e inmutables y seguirdos por los valores

In [ ]:
#Crear un diccionario y encontrar un valor
Diccionario={'indice1':10, 'indice2':'Perro'}
Diccionario['indice2']

'Perro'

In [ ]:
#Encontrar los índices o llaves del diccionario
Diccionario.keys()

In [ ]:
#Crear un diccionario de datos y acceder a sus valores de 2 formas diferentes
Diccionario = {"llave1": 156, "key2": "2", "key3": ['oso', 'lobo', 'camion'], "key4": (4, 4, 4), ('key5'): 5, (0, 'Carlos'): 6}
Diccionario
Diccionario['llave1']
Diccionario[(0,'Carlos')]

In [ ]:
#Obtener los valores y las llaves de un diccionario
Diccionario.keys()
Diccionario.values()

In [ ]:
#Añadir valores del diccionario
Diccionario['Pinata'] = 2021
Diccionario['Pinata']

In [ ]:
#Buscar un valor en el diccionario
'Pinata' in Diccionario

In [ ]:
#Eliminar valores del diccionario
del(Diccionario['Pinata'])
'Pinata' in Diccionario

## Examen

### Ejercicio 1: What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')

In [31]:
A = ('a','b','c')
A[0]

'a'

### Ejercicio 2: After applying the following method, L.append(['a','b']), the following list will only be one element longer.
True

### Ejercicio 3: How many duplicate elements can you have in a set?
0. You can only have one unique element in a set.

### Ejercicio 4: Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?

In [32]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

### Ejercicio 5: What is an important difference between lists and tuples?
Lists are mutable, tuples are not.

# Módulo 3

## Los objetivos de este Módulo 3 son:


*   Ciclos
*   Condiciones y Branching
*   Funciones
*   Objetos y Clases

In [ ]:
# Condición igualdad

a = 5
a == 6 
a

6

In [ ]:
# Mayor que 

i = 2
i > 5

False

In [ ]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on